@import "./variables/colors.css";
@import "./variables/fonts.css";

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--color_yellow);
    flex-direction: column;
    background-image: url(../assets/image10.png);
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

a:hover,
button:hover {
    opacity: 0.8;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
}