@import "./root.css";

body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  background-color: var(--color_yellow);
  display: flex;
  flex-direction: column;
}
header {
  background-color: var(--color_light_blue);
  min-height: 61px;
  padding-top: 7px;
}
.page_title {
  display: inline-flex;
  font-size: 36px;
  font-weight: 700;
  margin-left: 25px;
  width: 200px;
  font-weight: 800;
}
.page_logo {
  float: inline-end;
  width: 33.35px;
  margin-right: 13.65px;
  margin-top: 30px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_facts {
  border: 2px solid var(--color_dark_blue);
  border-radius: 10px;
  max-width: 400px;
  padding: 20px;
  background-color: var(--color_cream);
  color: var(--color_dark_blue);
  font-size: var(--font_mobile_fact_text);
  line-height: 1.5;
  text-align: center;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-top: 20px;
}

.button {
  cursor: pointer;
  border-radius: 7px;
  padding: 13px 15px;
}

#button_favorites_desktop {
  display: none;
}
/* #button_new_fact {

} */

footer {
  background-color: var(--color_light_blue);
  margin-top: auto;
}

footer p {
  margin-top: 11px;
  margin-bottom: 11px;
  text-align: center;
  margin-right: auto;
}

/* media query to hide button_favorites-desktop */

@media (min-width: 425px) {
  .page_title {
    width: auto;
    font-weight: 700;
  }
  .page_logo {
    margin-top: 8px;
  }
  footer p {
    float: inline-end;
    margin-right: 24px;
  }
  #button_favorites_desktop {
    display: flex;
  }
}