@import "./root.css";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color_yellow);
  flex-direction: column;
  background-image: url(../assets/image10.png);
  background-repeat: repeat;
}

.header_nav {
  background-color: var(--color_light_blue);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1.5rem;
}

.page_title {
  font: var(--font_mobile_title_1);
  color: var(--color_dark_blue);
}

a:hover,
button:hover {
  opacity: 0.8;
}

.favorites_heart {
  font-size: 2.5rem;
  color: var(--color_pink);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.card_facts {
  margin-top: 5rem;
  border: .25rem solid var(--color_dark_blue);
  border-radius: .625rem;
  width: 19rem;
  padding: 1.25rem;
  background-color: var(--color_cream);
  color: var(--color_dark_blue);
  font: var(--font_mobile_fact_text);
  line-height: 1.5;
  text-align: center;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  width: 19rem;
  margin-top: 1rem;
  height: 4rem;
}

.button {
  cursor: pointer;
  border-radius: .5rem;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

#button_new_fact {
  background-color: var(--color_dark_blue);
  color: var(--color_cream);
  border: none;
  width: 11.5rem;
  font: var(--font_mobile_button_text);
  display: flex;
  justify-content: center;
}

#button_add_favorite {
  background-color: var(--color_pink);
  color: var(--color_cream);
  border: none;
  width: 7rem;
  font: var(--font_mobile_button_text);
}

.icon {
  font-size: 1.5rem;
}

#button_favorites_desktop_text {
  display: none;
}

.toast {
  position: fixed;
  bottom: 10%;
  left: 50%;
  width: max-content;
  text-align: center;
  transform: translateX(-50%);
  background-color: var(--color_light_blue);
  color: var(--color_dark_blue);
  font: var(--font_mobile_toast);
  padding: 1rem 2rem;
  border-radius: .5rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.toast.show {
  opacity: 1;
}

.favorites {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 5rem;
}

ul {
  margin: 3rem 0;
  padding: 3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

li {
  border: .25rem solid var(--color_dark_blue);
  border-radius: .625rem;
  width: 19rem;
  padding: 1.25rem;
  background-color: var(--color_cream);
  color: var(--color_dark_blue);
  font: var(--font_mobile_fact_text);
  line-height: 1.5;
  text-align: center;
}

#home {
  display: none;
  margin: auto;
}

#button_home {
  background-color: var(--color_dark_blue);
  color: var(--color_cream);
  border: none;
  width: max-content;
  font: var(--font_mobile_button_text);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  background-color: var(--color_light_blue);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}

footer p {
  margin: auto;
  font: var(--font_mobile_footer_text);
  color: var(--color_dark_blue);
}


@media (min-width: 900px) {

  .header_nav {
    height: 4.5rem;
  }

  .page_title {
    font: var(--font_desktop_title_1);
  }

  .favorites_heart {
    font-size: 3.5rem;
  }

  .main {
    height: calc(100vh - 172px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding-left: 2rem;
  }

  .card_facts {
    width: 75rem;
    font: var(--font_desktop_fact_text);
    line-height: 1.5;
    text-align: center;
  }

  .buttons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    gap: 1.5rem;
  }

  #button_new_fact {
    width: 15rem;
    font: var(--font_desktop_button_text);
    border: none;
    justify-content: center;
  }

  #button_add_favorite {
    width: 15rem;
    font: var(--font_desktop_button_text);
    border: none;
    justify-content: center;
  }

  #button_favorites_desktop_text {
    display: block;
  }

  #button_favorites_mobile_text {
    display: none;
  }

  ul {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    width: 35rem;
    font: var(--font_desktop_fact_text);
  }

  #button_home {
    font: var(--font_desktop_button_text);
  }

  footer {
    height: 2.5rem;
    justify-content: flex-end;
  }

  footer p {
    margin-right: 2rem;
    font: var(--font_desktop_footer_text);
  }
}