.buttons_container {
  display: flex;
  justify-content: space-between;
  width: 19rem;
  margin-top: 1rem;
  height: 4rem;
}

.button {
  cursor: pointer;
  border-radius: .5rem;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

#button_new_fact {
  background-color: var(--color_dark_blue);
  color: var(--color_cream);
  border: none;
  width: 11.5rem;
  font: var(--font_mobile_button_text);
  display: flex;
  justify-content: center;
}

#button_add_favorite {
  background-color: var(--color_pink);
  color: var(--color_cream);
  border: none;
  width: 7rem;
  font: var(--font_mobile_button_text);
}

.icon {
  font-size: 1.5rem;
}

#button_favorites_desktop_text {
  display: none;
}
#home {
  display: none;
  margin: auto;
}

#button_home {
  background-color: var(--color_dark_blue);
  color: var(--color_cream);
  border: none;
  width: max-content;
  font: var(--font_mobile_button_text);
  display: flex;
  align-items: center;
  justify-content: space-around;
}